# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
venv/
env/
.venv/

# Variables de entorno
.env

# SWI-Prolog archivos compilados
*.qlf

# Docker volúmenes locales
data/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
